.header {
  background-color: var(--header-bg);
  padding: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.search-form input {
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: transparent;
  outline: none;
}

.search-form button {
  height: 100%;
  position: relative;
  left: 100%;
  transform: translate(-50%, -100%);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.search-form button:hover {
  cursor: pointer;
}

#icon-search {
  height: 100%;
}
